.header {
  background-color: #575759;
  position: relative;
}

.header__menu-button {
}

.header__description {
  width: max-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.header__title {
}

.header__state {
}
