.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  background-image: url("../../../assets/images/login-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y: auto;
}

.login__logo {
  height: 65px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.login__title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.login__version {
  margin-bottom: 2rem;
  font-size: 0.5rem;
  line-height: 0.5rem;
  color: #fff;
}

.login__form {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.login__conditions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;
}

.login__conditions {
  margin-left: 0.5rem;
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: #fff;
}

.login__contitions-link {
  color: #cd2411;
}

.login__enter-button {
  width: max-content;
  align-self: center;
  margin-top: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 12px;
  color: #fff;
  border: solid 2px #fff;
  background-color: #cd2411;
}

.login__enter-button:focus {
  outline: none;
}

:host ::ng-deep .mat-input-element {
  color: white;
}

:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #f44336;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: white;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: white;
}

:host ::ng-deep .mat-checkbox-frame {
  border-color: white;
}

@media (min-width: 768px) {
  .login {
    background: black;
  }
}
