$font-family-zizou-slab: "zizou-slab";

@font-face {
  font-family: $font-family-zizou-slab;
  src: url("./assets/fonts/zizou-slab-regular.otf") ;
  font-weight: normal;
}

@font-face {
  font-family: $font-family-zizou-slab;
  src: url("./assets/fonts/zizou-slab-bold.otf");
  font-weight: bold;
}
