@import "./material.styles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #040404;
}

a {
  text-decoration: none;
}
